.tooltipArea {
  position: relative;
}

.tooltip {
  display: inline-block;
  position: absolute;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 999;
  white-space: nowrap;
  visibility: hidden;
}

.visible {
  visibility: visible;
}
