.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  padding: 0 40px;
  min-height: 100vh;


  h2, h3 {
    line-height: 1;
    margin: 1.5rem 0;
  }
}

.col6 {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}

.blueText {
  color: blue;
}

