.container {
  text-align: left;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  margin: 1.5em;

  h2 {
    line-height: 8px;
  }

  table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
  }
}

.col6 {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}

.blueText {
  color: blue;
}

