.container {
  text-align: left;
  font-size: 1.4rem;
  margin: 1.5rem;

  table {
    table-layout: fixed;
    width: 100%;
    text-align: left;

    th, td {
      padding: 0.5rem 0;
    }
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.col6 {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}

.blueText {
  color: blue;
}

